<p id="notice"><%= notice %></p>

  <br>

  <h2>Your memories</h2>  

  <p> Create your new diary >> <%= link_to 'New Diary', new_diary_path %> </p>

<table>

  <thead>
    <tr>
      <th width="10">Name</th>
      <th>Detail</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% if @diaries == nil %> 
      <h1>Nothing</h1>
    <% else %>
      <% @diaries.each do |diary| %>
        <tr>
          <td><%= diary.name %></td>
          <td><%= diary.detail %></td>
          <td><%= diary.date %></td>
          <td><%= link_to 'Show', diary %></td>
          <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
          <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
        
  </table>



<br>

 
